.quick-icon ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-icon li {
    background-color: #565656;
    height: 116px;
    width: 116px;
    padding: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 18px;
    position: relative;
}

.quick-icon .link {
    cursor: pointer;
}

.quick-icon .icon {
    background-color: #212121;
    height: 96px;
    width: 96px;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.quick-icon .icon img {
    background-color: #212121;
    height: 96px;
    width: 96px;
    border-radius: 96px;
}

.quick-icon li > .tag {
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
}

.quick-icon li > .tag img {
    height: 36px;
    width: 36px;
    padding: 0;
    border-radius: 40px;
    background-color: #565656;
}

.quick-icon li > .tag p {
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #272927;
}



.mobile-quick-icon ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.mobile-quick-icon li {
    background-color: #565656;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 56px;
}

.mobile-quick-icon img {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    padding: 4px;
    background-color: #212121;
}

.mobile-quick-icon p {
    color: white;
    font-size: 25px;
}

.mobile-quick-icon .link {
    cursor: pointer;
}



.item-list {
    margin: 10px;
}

.item-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item-list li {
    background: #565656;
    color: white;
    height: 120px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.item-list .body {
    background: #212121;
    font-size: 25px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.item-list li ul {
    position: absolute;
    bottom: 5px;
    right: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    z-index: 2;
}

.item-list li ul div {
    pointer-events: none;
    position: static;
    height: 40px;
    width: 140px;
    border-radius: 40px;
    background-color: #212121;
    border-color: #565656;
    border-width: 5px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 10px;
}

.item-list li ul img {
    height: 30px;
    margin-left: auto;
}